#__search__ {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#__search__ > .wrap {
    padding: var(--gutter-size);
    border-radius: 10px;
    background-color: var(--default-back-color);
    box-shadow: var(--default-box-shadow);
    text-shadow: var(--default-box-shadow);
}

.search-bar {
    display: flex;
    align-items: stretch;
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px;
}

.search-bar .input {
    padding: 10px 20px;
    flex: 1;
    font-size: 16px;
}

.search-bar .filter {
    border-radius: 20px;
    color: black;
    text-shadow: none;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 16px;
}

.search-bar .filter span {
    user-select: none;
}

.search-bar .filter select {
    outline: none;
    background-color: white;
    cursor: pointer;
}
