#__content__ {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-top: calc(var(--gutter-size) * 2);
}

#__content__ > .wide {
    min-height: calc(100vh - var(--header-height));
}