:root {
    --default-back-color: rgba(0, 0, 0, 0.6);
    --default-box-shadow: 0 0 5px black;
    --default-img-color: rgba(0, 0, 0, 0.6) /*rgba(202, 202, 202, 0.2)*/;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 14px;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

#__application__ {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 0 0 3px black;
    color: white;
    background-color: black;
}

section {
    margin-bottom: calc(var(--gutter-size) * 2);
}

table {
    border-collapse: collapse;
}

button, input {
    font-size: inherit;
    outline: none;
    color: inherit;
    background-color: inherit;
}

button {
    cursor: pointer;
}

.link {
    color: red;
    /* padding-top: 2px; */
    padding-bottom: 2px;
    text-decoration: none;
    border-bottom: 2px solid red;
}

.flex1 {
    flex: 1;
}

.wrap {
    flex-wrap: wrap;
}

.hide {
    display: none;
}