.product-list {
    user-select: none;
}

/* header */
.product-list header {
    border-radius: 10px;
    padding: var(--col-padding) var(--gutter-size);
    margin-bottom: var(--gutter-size);
    text-shadow: var(--default-box-shadow);
    box-shadow: var(--default-box-shadow);
    background-color: var(--default-back-color);
}