#__content__ .list {
    display: block;
    list-style: none;
}

#__content__ .item,
#__content__ .add-category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--default-back-color);
    text-shadow: var(--default-box-shadow);
    box-shadow: var(--default-box-shadow);
    border-radius: 10px;
    padding: var(--gutter-size);
    margin-bottom: var(--gutter-size);
}

#__content__ .item .name,
#__content__ .add-category .name {
    flex: 1;
}

#__content__ .item .func,
#__content__ .add-category .func {
    padding: 10px 20px;
    border: 1px solid white;
    margin-left: 10px;
    border-radius: 20px;
    background-color: var(--default-back-color);
    text-shadow: var(--default-box-shadow);
    box-shadow: var(--default-box-shadow);
}

#__content__ .item .func:last-child {
    background-color: crimson;
}

#__content__ .add-category button.func {
    background-color: green;
}

/* modal */

#__modal__ .container {
    margin: auto;
}

#__modal__ .control {
    padding: 20px 40px;
}

#__modal__ .control .wrap > button{
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: var(--default-back-color);
    text-shadow: var(--default-box-shadow);
    box-shadow: var(--default-box-shadow);
    font-size: 16px;
    margin: 0 5px;
}

#__modal__ .control .wrap > button:first-child {
    background-color: crimson;
}